<html>
<head>
    <meta charset="UTF-8" />
    <style>
        .page {
            margin: 0px;
            padding: 0px;
            width: 100%;/* width: 7in; */
            overflow:hidden;
        }
        html, body{
            margin: 0px;
            padding: 0px;
            width: 100%;
        }
        .main-title{
            width: 500px;
            margin-bottom: 30px;
            font-size: 40px;
            font-weight: 400;
            text-align:center;
            margin:auto;
            color: #4C6379;
        }
        .align-right{
            text-align:right;
        }
        table{
            width:95%;
            border-collapse: collapse;
        }
        thead {
            display: table-header-group;
            vertical-align: middle;
            border-color: inherit;
        }
        tbody {
            display: table-row-group;
            vertical-align: middle;
            border-color: inherit;
        }
        tbody tr {
            border-top: 1px solid #6e858c;
        }
        th {
            color: #4c6379;
            font-size: 26px;
            font-weight: 700;
            text-transform: uppercase;
            padding: 22px 36px;
            text-align: left;
        }
        table tr td{
            color: #6e858c;
            padding: 22px 36px;
            font-size: 30px;
            font-weight: 400;
        }
        .total td{
            font-weight:bold;
        }
    </style>
</head>
<body>
    <div class='page datagrid'>

        <h2 class="main-title">Packages</h2>

        <table class="report-table sales-by-product-type has-total">
            <thead>
            <tr>
                <th>Received</th>
                <th class="align-right">Package</th>
                <th class="align-right">Product</th>
                <th class="align-right">Supplier</th>
                <th class="align-right">QTY Rem.</th>
            </tr>
            </thead>

            <tbody>
                <% for (var i = 0; i < reportData.length; i++){ %>
                    <tr>
                        <td><%= reportData[i]['Received'] %></td>
                        <td class="align-right"><%= reportData[i]['Package'] %></td>
                        <td class="align-right"><%= reportData[i]['Product'] %></td>
                        <td class="align-right"><%= reportData[i]['Supplier'] %></td>
                        <td class="align-right"><%= reportData[i]['QTY Rem.'] %></td>
                    </tr>
                <% } %>
            </tbody>
        </table>
    </div>
</body>
</html>